### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
path = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [37]:
#Consolidate non-duplicate SN stings and count strings 
players = df["SN"].unique()
total_count = len(players)

print(f'Player Count: {total_count}')

Player Count: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#Consolidate non-duplicate ID's in Item ID Column and find total string count in item variable
items = df["Item ID"].unique()
unique_items = len(items)

#Find mean, pirchases count, and total using the built in methods
average_price = df['Price'].mean()

purchases = df['Purchase ID'].count()

total_revenue = df['Price'].sum()

#create data frame using the above variable and print head and first row
summary_data = [(unique_items, round(average_price,2), purchases, total_revenue)]
summary_df = pd.DataFrame(summary_data,columns=["Number_of_Unique_Items", "Average_Price", "Number_of_Purchases", "Total_Revenue"])
summary_df.head()

   Number_of_Unique_Items  Average_Price  Number_of_Purchases  Total_Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [39]:
no_dup_rows = df.drop_duplicates(['SN'], keep = 'last')
total_players = no_dup_rows['SN'].count()

gender_count = no_dup_rows['Gender'].value_counts().reset_index()
gender_count

#use total_players variable and add column for percent of players
gender_count['% of Players'] = gender_count['Gender']/total_players * 100

#column rename using rename method
gender_count.rename(columns = {'index': 'Gender', 'Gender': 'Total Count'}, inplace = True)

#set_index method for readabity
gender_count.set_index(['Gender'], inplace = True)

#format table
gender_count.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
# count purchas by the gender and store to variavble
pur_count_by_gen = pd.DataFrame(df.groupby('Gender')['Gender'].count())
# sum gender and price with sum method
total_pur_by_gen = pd.DataFrame(df.groupby('Gender')['Price'].sum())
#combine above two data frames
pur_analysis_gen = pd.merge(pur_count_by_gen, total_pur_by_gen, left_index = True, right_index = True)
#column rename
pur_analysis_gen.rename(columns = {'Gender': 'Purchase count', 'Price':'Total Purchase Value'}, inplace=True)
#add average purchase price column 
pur_analysis_gen['Average Purchase Price'] = pur_analysis_gen['Total Purchase Value']/pur_analysis_gen['Purchase count']
#combine gender counts table 
pur_analysis_gen = pur_analysis_gen.merge(gender_count, left_index = True, right_index = True)
# add Average total purchase per person column
pur_analysis_gen['Avg total purchase per person'] = pur_analysis_gen['Total Purchase Value']/pur_analysis_gen['Total Count']
pur_analysis_gen
#delete unneeded columns 
del pur_analysis_gen['% of Players']
del pur_analysis_gen['Total Count']
 
#reset index and format table to 2 decimal places
pur_analysis_gen.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Avg total purchase per person': '${:.2f}'})

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#create bins for age, create df for non-duplicate players per age bracket, and find percetage of players
tenyears = df[df["Age"] <10]
loteens = df[(df["Age"] >=10) & (df["Age"] <=14)]
hiteens = df[(df["Age"] >=15) & (df["Age"] <=19)]
lotwent = df[(df["Age"] >=20) & (df["Age"] <=24)]
hitwent = df[(df["Age"] >=25) & (df["Age"] <=29)]
lothirt = df[(df["Age"] >=30) & (df["Age"] <=34)]
hithirt = df[(df["Age"] >=35) & (df["Age"] <=39)]
loforty = df[(df["Age"] >=40) & (df["Age"] <=44)]
hiforty = df[(df["Age"] >=45) & (df["Age"] <=49)]

age_demo_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                        "Percentage of Players": [(tenyears["SN"].nunique()/total_players)*100, (loteens["SN"].nunique()/total_players)*100, (hiteens["SN"].nunique()/total_players)*100, (lotwent["SN"].nunique()/total_players)*100, (hitwent["SN"].nunique()/total_players)*100, (lothirt["SN"].nunique()/total_players)*100, (hithirt["SN"].nunique()/total_players)*100, (loforty["SN"].nunique()/total_players)*100, (hiforty["SN"].nunique()/total_players)*100],
                        "Total Count": [tenyears["SN"].nunique(), loteens["SN"].nunique(), hiteens["SN"].nunique(), lotwent["SN"].nunique(), hitwent["SN"].nunique(), lothirt["SN"].nunique(), hithirt["SN"].nunique(), loforty["SN"].nunique(), hiforty["SN"].nunique()]
                       })

age_demo_final = age_demo_df.set_index("Age")
age_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#bin purchase_data by frame, create data frame and store df in variable, finding purchase count, average purchase price, total pruchase value, and avg total purchases per person
age_purchasing_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
"Purchase Count": [tenyears["Price"].count(), loteens["Price"].count(), hiteens["Price"].count(), lotwent["Price"].count(), hitwent["Price"].count(), lothirt["Price"].count(), hithirt["Price"].count(), loforty["Price"].count(), hiforty["Price"].count()],
"Average Purchase Price": [tenyears["Price"].mean(), loteens["Price"].mean(), hiteens["Price"].mean(), lotwent["Price"].mean(), hitwent["Price"].mean(), lothirt["Price"].mean(), hithirt["Price"].mean(), loforty["Price"].mean(), hiforty["Price"].mean()], 
"Total Purchase Value": [tenyears["Price"].sum(), loteens["Price"].sum(), hiteens["Price"].sum(), lotwent["Price"].sum(), hitwent["Price"].sum(), lothirt["Price"].sum(), hithirt["Price"].sum(), loforty["Price"].sum(), hiforty["Price"].sum()],
"Avg Total Purchase per Person": [tenyears["Price"].sum()/tenyears['SN'].nunique(), loteens["Price"].sum()/loteens['SN'].nunique(), hiteens["Price"].sum()/hiteens['SN'].nunique(), 
lotwent["Price"].sum()/lotwent['SN'].nunique(), hitwent["Price"].sum()/hitwent['SN'].nunique(), 
lothirt["Price"].sum()/lothirt['SN'].nunique(), hithirt["Price"].sum()/hithirt['SN'].nunique(), 
loforty["Price"].sum()/loforty['SN'].nunique(), hiforty["Price"].sum()/hiforty['SN'].nunique()]}, 
                             columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])
#set index as age and store in variable, format to 2 decimal places and display
age_purchasing_final = age_purchasing_df.set_index("Age")

age_purchasing_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Groupby SN to finf sum of purchase, number of purchases, and average price price per person
purchase_amt_by_SN = pd.DataFrame(df.groupby('SN')['Price'].sum())
num_purchase_by_SN = pd.DataFrame(df.groupby('SN')['Price'].count())
avg_purchase_by_SN = pd.DataFrame(df.groupby('SN')['Price'].mean())

# combine dataframes
merged_top5 = pd.merge(purchase_amt_by_SN, num_purchase_by_SN, left_index = True, right_index = True).merge(avg_purchase_by_SN, left_index=True, right_index=True)

# .rename method to rename columns
merged_top5.rename(columns = {'Price_y':'Purchase Count', 'Price':'Average Purchase Price','Price_x': 'Total Purchase Value',}, inplace = True)

# sort in decending order
merged_top5.sort_values('Total Purchase Value', ascending = False, inplace=True)

# display first 5 rows and populate to merged_top5 variable
merged_top5 = merged_top5.head()

# format rounding to 2 decimal places
merged_top5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#ccombine dataframes and find purchase count, total purchase value for items, and reset index to dataframes
premergeone = df.groupby("Item Name").sum().reset_index()
premergetwo = df.groupby("Item ID").sum().reset_index()
premergethree = df.groupby("Item Name").count().reset_index()

#combine df's
mergeone = pd.merge(premergeone, premergetwo, on="Price")
mergetwo = pd.merge(premergethree, mergeone, on="Item Name")

#manipulate data to create final df, and get columns 
mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)
mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})
clean_df = mergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

#set_index, sort values in decending order, and format to 2 decimal places
prefinal_df = clean_df.set_index(['Item Name', 'Item ID'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head()
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#find most profitable items with prefinal_df

most_profitable_items = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
most_profitable_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})